n8n/workflow-upsert-usuario.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "usuarios",
        "responseMode": "onReceived"
      },
      "name": "Webhook Upsert Usuario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios_manaus (telefone, nome, latitude, longitude, checkin, data_atualizacao)\nVALUES ({{$json[\"telefone\"]}}, {{$json[\"nome\"]}}, {{$json[\"latitude\"]}}, {{$json[\"longitude\"]}}, {{$json[\"checkin\"]}}, NOW())\nON CONFLICT (telefone) DO UPDATE SET\n  nome = EXCLUDED.nome,\n  latitude = EXCLUDED.latitude,\n  longitude = EXCLUDED.longitude,\n  checkin = EXCLUDED.checkin,\n  data_atualizacao = NOW();"
      },
      "name": "Postgres Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "postgres": "Postgres Credenciais"
      }
    },
    {
      "parameters": {
        "responseBody": "={{ { \"status\": \"ok\", \"telefone\": $json[\"telefone\"] } }}",
        "options": {}
      },
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Upsert Usuario": {
      "main": [
        [
          {
            "node": "Postgres Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
