n8n/workflow-consulta-usarios.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "usuarios",
        "responseMode": "onReceived"
      },
      "name": "Webhook Usuarios",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM usuarios_manaus;"
      },
      "name": "Postgres Consulta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "postgres": "Postgres Credenciais"
      }
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [950, 300]
    }
  ],
  "connections": {
    "Webhook Usuarios": {
      "main": [
        [
          {
            "node": "Postgres Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Consulta": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
